<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Event - Landing Page</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="">

	<!--== CSS Files ==-->
	<link href="css/bootstrap.css" rel="stylesheet" media="screen">
	<link href="css/style.css" rel="stylesheet" media="screen">
	<link href="css/font-awesome.css" rel="stylesheet" media="screen">
	<link href="css/owl.carousel.css" rel="stylesheet" media="screen">
	<link href="css/flexslider.css" rel="stylesheet" media="screen">
	<link href="css/fancySelect.css" rel="stylesheet" media="screen">
	<link href="css/responsive.css" rel="stylesheet" media="screen">



	<!--== Google Fonts ==-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Dosis' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

</head>

<body>
	<header id="header">
		<div id="menu" class="header-menu fixed">

			<div class="box">
				<div class="row">
					<nav role="navigation" class="col-sm-12">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
								data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>

							<!--== Logo ==-->
							<span class="navbar-brand logo">
								OM EVENTS
							</span>

						</div>
						<div class="navbar-collapse collapse">

							<!--== Navigation Menu ==-->
							<ul class="nav navbar-nav">
								<li class="current"><a href="index">Home</a></li>
								<li><a href="index#about">About</a></li>
								<li><a href="index#event">Events</a></li>
								<li><a href="index#activity">Activities</a></li>

								<li><a href="index#team">Our Team</a></li>
								<li><a href="#testimonial">Testimonials</a></li>
								<li><a href="#contact">Contact</a></li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!--== Site Description ==-->
		<div class="header-cta">

			<div class="container">
				<div class="row">
					<div class="entry-content">
						<p><span class="start-text"><b>From The March 7, 2014</b></span></p>
						<h4 class="entry-title"><a href="#">Event Management And Man Power</a></h4>
						<h5><span><b>Efficiency, Excellence, Eventful Experiences.</b></span></h5>
					</div>
				</div>
			</div>
		</div>

		<div class="header-bg">
			<div id="preloader">
				<div class="preloader"></div>
			</div>
			<div class="main-slider" id="main-slider">

				<!--== Main Slider ==-->
				<ul class="slides">
					<li><img src="images/demo/fullteam.jpg" alt="Slide Image" /></li>
					<li><img src="images/demo/fullteam2.jpeg" alt="Slide Image 2" /></li>
				</ul>

			</div>
		</div>
	</header>

	<div class="content">
		<div class="container box">


			<!--===============================-->
			<!--== About us ===================-->
			<!--===============================-->
			<section id="about" class="about-us" th:fragment="about">
				<div class="title-start col-md-4 col-md-offset-4">
					<br />
					<h2>About Us</h2>
					<p class="sub-text text-center">Know our great story</p>
				</div>
				<div class="container">
					<div class="about-first">
						<div class="block col-md-4">
							<div class="content-block">
								<i class="fa fa-users fa-3x"></i>
								<h3>Get In Touch</h3>
								<p>

									Ready to elevate your next event or optimize your workforce?
									Get in touch with us today to discuss how we can collaborate and
									create extraordinary experiences together.</p>
							</div>
						</div>
						<div class="block col-md-4">
							<div class="content-block">
								<i class="fa fa-rocket fa-3x"></i>
								<h3>Our Mission</h3>
								<p>Our mission is to be a
									trusted partner, delivering exceptional manpower
									solutions and memorable event experiences that leave a
									lasting impression. We strive to build long-term relationships
									with our clients based on trust, integrity, and mutual success.</p>
							</div>
						</div>
						<div class="block col-md-4">
							<div class="content-block">
								<i class="fa fa-trophy fa-3x"></i>
								<h3>Experience</h3>
								<p>10+ years of experience.</p>
							</div>
						</div>
					</div>
					<div class="about-part">
						<div class="col-md-8">

							<h3>ABOUT US</h3>


							<p>
							<h4>Manpower Solutions</h4>

							At Om Event Management and Manpower Solution, we understand that skilled manpower is the
							backbone of any successful enterprise. Whether you need temporary staff for a short-term
							project or permanent placements to bolster your team, we offer a comprehensive range of
							manpower solutions. Our recruitment process is rigorous, ensuring that we match the right
							talent with your specific requirements.


							<h4>Event Management Services</h4>

							Organizing a successful event requires meticulous planning and flawless execution. Our
							experienced team at [Your Company Name] specializes in event management, handling everything
							from corporate events and conferences to weddings and private gatherings. From
							conceptualization
							to post-event evaluation, we ensure that every detail is meticulously planned and executed
							to exceed your expectations.</p>
						</div>

					</div>
				</div>
		</div>
		</section>
		<!--==========-->


		<!--===============================-->
		<!--== Event =============-->
		<!--===============================-->
		<section id="event" class="row">
			<div class="title-start col-md-4 col-md-offset-4">
				<h2>Events</h2>
				<p class="sub-text text-center">Successfull Events</p>
			</div>
			<div class="top">
			</div>
			<div class="content">

				<div class="blog col-md-4">
					<h2 class="blog-head">USV Events</h2>
					<h3>
						<a href="#"></a><span class="date-line"> 23 May 2024</span>
					</h3>
					<img class="blog-image" src="images/demo/usv.jpg" width="100%" height="250" alt="Blog Image 2" />

					<p class="firstpara"><span class="firstcharacter"></span>Hotel Redison Blue Indore :-
						USV Event Sucessful - Team Om Event Mangement And Manpower Solution</p>



				</div>

				<div class="blog col-md-4">
					<h2 class="blog-head">JCB Exhibition</h2>
					<h3><a href="#"></a><span class="date-line">16 June 2024</span></h3>
					<img class="blog-image" src="images/demo/earthcon.jpg" width="100%" height="250"
						alt="Blog Image 2" />
					<p class="firstpara"><span class="firstcharacter"></span>
						India Largest Earthcon Expo Thanks For Aries Events Pvt. Ltd, AVR Events and Om
						Event Management And Manpower Solutions</p>

				</div>
				<div class="blog col-md-4">
					<h2 class="blog-head">Baby Shower</h2>

					<h3><a href="#"></a><span class="date-line">8 July 2024</span></h3>
					<img class="blog-image" src="images/demo/baby.jpg" width="100%" height="250" alt="Blog Image 2" />
					<p class="firstpara"><span class="firstcharacter"></span>Hotel Wow Baby Shower was successfully
						organized by Om Event Management and Manpower Solutions in Indore.</p>

				</div>
			</div>
		</section>


		<!--===============================-->
		<!--== Activity =============-->
		<!--===============================-->
		<section id="activity" class="row">
			<div class="title-start col-md-4 col-md-offset-4">
				<h2>Activities</h2>
				<p class="sub-text text-center">Successfull Activities</p>
			</div>
			<div class="top">
			</div>
			<div class="content">

				<div class="blog col-md-4">
					<h2 class="blog-head">Honda BigWing</h2>
					<h3>
						From April 1 <a href="#"></a><span class="date-line"> to April 10 2024</span>
					</h3>
					<img class="blog-image" src="images/demo/hondaactivity.jpg" width="100%" height="250"
						alt="Blog Image 2" />

					<p class="firstpara"><span class="firstcharacter"></span>10 Day's Of Honda Bike Activity At Treasure
						Island Mall Was Successful :-
						Om Event Mangement And Manpower Solution Indore 👍
						— feeling grateful at Treasure Island Mall Indore.</p>



				</div>

				<div class="blog col-md-4">
					<h2 class="blog-head">Fortune Oil</h2>
					<h3>From January 3<a href="#"></a><span class="date-line"> to March 8 2024</span></h3>
					<img class="blog-image" src="images/demo/fortuneoil.jpg" width="100%" height="250"
						alt="Blog Image 2" />
					<p class="firstpara"><span class="firstcharacter"></span>Successfully Completed Fortune Activity By
						our Team</p>

				</div>
				<div class="blog col-md-4">
					<h2 class="blog-head">Acne Star</h2>

					<h3>From January 20 <a href="#"></a><span class="date-line"> to February 5 2023</span></h3>
					<img class="blog-image" src="images/demo/acne.jpg" width="100%" height="250" alt="Blog Image 2" />
					<p class="firstpara"><span class="firstcharacter"></span>Successfully Completed Acne Star Activity
						by our Team.</p>

				</div>
			</div>
		</section>


		<!--==========-->
		<!--===============================-->
		<!--== Team =============-->
		<!--===============================-->

		<section id="team" class="team">
			<div class="container">
				<div class="title-start team-menu col-md-4 col-md-offset-4">
					<h2 class="team-heading">Our Team</h2>
					<p class="sub-text text-center">Our Team Photos</p>
				</div>
			</div>


			<section id="team" class="row">
				<div class="title-start col-md-4 col-md-offset-4">
					<h2></h2>
					<p class="sub-text text-center"></p>
				</div>
				<div class="top">
				</div>
				<div class="content">

					<div class="blog col-md-4">


						<img class="blog-image" src="images/demo/team1.jpeg" width="100%" height="250"
							alt="Blog Image 2" />





					</div>

					<div class="blog col-md-4">

						<img class="blog-image" src="images/demo/team2.jpg" width="100%" height="250"
							alt="Blog Image 2" />


					</div>
					<div class="blog col-md-4">



						<img class="blog-image" src="images/demo/1.jpg" width="100%" height="250" alt="Blog Image 2" />

					</div>
				</div>





				<div class="title-start col-md-4 col-md-offset-4">
					<h2></h2>
					<p class="sub-text text-center"></p>
				</div>
				<div class="top">
				</div>
				<div class="content">

					<div class="blog col-md-4">


						<img class="blog-image" src="images/demo/team5.jpg" width="100%" height="250"
							alt="Blog Image 2" />





					</div>

					<div class="blog col-md-4">

						<img class="blog-image" src="images/demo/team1.jpg" width="100%" height="250"
							alt="Blog Image 2" />


					</div>
					<div class="blog col-md-4">



						<img class="blog-image" src="images/demo/team3.jpg" width="100%" height="250" alt="Blog Image 2" />

					</div>
				</div>



			</section>










		</section>
	</div>
	</div>
	<!--==========-->
	<!--==========-->
	<!--===============================-->
	<!--== Testimonial =============-->
	<!--===============================-->
	<section id="testimonial" class="testimonial-area">
		<div class="container">
			<div class="title-start col-md-4 col-md-offset-4">
				<h2 class="team-heading white">Om Event Management and Man Power Solution</h2>
				<p class="sub-text text-center">"From Vision to Victory with Expert Hands"</p>
			</div>
			<div class="row">
				<div class="col-xs-12">
				</div>
				<div id="testimonial-container" class="col-xs-12">
					<div class="testimonila-block">
						<img src="images/omlogo.png" alt="clients" class="selfshot">
						<p>At OM Event Management and Manpower Solutions, we are dedicated
							to turning your vision into reality with unparalleled expertise
							and a commitment to excellence. Specializing in both event management
							and staffing, our team ensures that every event is executed flawlessly
							and every staffing need is met with precision..</p>
						<strong>Om Shiv Yadav</strong>
						<br>
						<small>Founder</small>
					</div>

				</div>
			</div>
		</div><!-- container -->
	</section><!-- testimonial -->

	<div class="content mcontent">
		<div id="gotop" class="gotop fa fa-arrow-up"></div>
	</div>
	</div>
	<!-- Contact Area -->

	<section id="contact" class="mapWrap">
		<div id="googleMap" style="width:100%;"></div>
		<div id="contact-area">
			<div class="container">
				<h2 class="block_title"></h2>
				<div class="row">
					<div class="col-xs-12">
					</div>
					<div class="col-sm-6">
						<div class="moreDetails">
							<h2 class="con-title">Address</h2>
							<p> Mitra Bandhu Nagar, Kanadia Road, Indore, 452016 ; Location: Indore, Indore district,
								Madhya Pradesh, Plains, India, South Asia, Asia ; Latitude.
							</p>

							<ul class="address">

								<li><i class="pe-7s-mail"></i><span>omshivyadav@gmail.com</span></li>
								<li><i class="pe-7s-phone"></i><span>
										+91 9926412322 <br>

										+91 8959611184

									</span></li>
								<li><i class="pe-7s-global"></i><span><a href="#">www.themewagon.com</a></span></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6" th:fragment="contact">
						<h2 class="con-title">Contact us</h2>
						<form th:action="@{/submit}" th:object="${user}" method="post">
						    <div class="form-group">
						        <input type="text" th:field="*{name}" class="form-control" id="user_name"
						               placeholder="Enter your name">
						    </div>
						    <div class="form-group">
						        <input type="email" th:field="*{email}" class="form-control" id="your_email"
						               placeholder="Enter your email">
						    </div>
						    <div class="form-group">
						        <textarea th:field="*{message}" id="user_message" class="form-control" rows="5"
						                  required></textarea>
						    </div>
						    <button type="submit" class="btn medium">Let us know</button>
						</form>
					</div>
				</div>
			</div><!-- container -->
		</div><!-- contact-area -->
		<div id="social">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<ul class="scoialinks">
							<li class="normal-txt">Find us on</li>
							<li class="social-icons"><a class="facebook"
									href="https://www.facebook.com/people/Om-Event-Management-Manpower-Solutions-Indore/100090438401523/"></a>
							</li>
							
						</ul>
					</div>
				</div>
			</div>
		</div><!-- social -->
	</section><!-- contact -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<p class="copyright">© Copyright 2014 <a href="http://wwww.technextit.com"
							target="_blank">Technext</a></p>
				</div>
				<div class="col-sm-6">
					<p class="designed">Designed and Developed by <a href="http://themewagon.com" target="_blank">Keshav
							Nagar</a></p>
				</div>
			</div>
		</div>
	</footer>




	<!--== Javascript Files ==-->
	<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script src="js/jquery-2.1.0.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

	<script src="js/jquery.nav.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/jquery.accordion.js"></script>
	<script src="js/jquery.placeholder.js"></script>
	<script src="js/jquery.fitvids.js"></script>
	<script src="js/gmap3.js"></script>
	<script src="js/fancySelect.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>
	<script type="text/javascript">

		$(document).ready(function () {

			$("#testimonial-container").owlCarousel({

				navigation: false, // Show next and prev buttons
				slideSpeed: 700,
				paginationSpeed: 400,
				singleItem: true,
			});

		});
	</script>

</body>

</html>